<head>
	<style>
		h1.field.field--name-field-headline-1-h1, .description p{
			text-align: center;
		}
	</style>
</head>

<div class="view-header">
	<div class="category-detail">
		<h1 class="field field--name-field-headline-1-h1">
			{{ title }}
		</h1>
		<div class="description">
			<p>{{ description }}</p>
		</div>
	</div>

</div>
